body {
    margin: 0 0 0 0;
    background-color: #1ddced;
    box-sizing: border-box;
}

#confirmation {
    font-family: "Verdana", Times, serif;
    color: #7feaff;
    font-weight: bold;
    font-size: 19px;
    width: 100%;
    text-align: center;
    position: fixed;
    text-shadow: 1px 1px 0px black;
}

.button {
    position: fixed;
    transform: translate(-50%, 0);
    width: 18%;
    height: 7%;
    border-radius: 26px;
    font-weight: bold;
    font-size: 14px;
}

#noButton {
    left: 25%;
    bottom: 85%;
    background-color: #ff6666;
}

#yesButton {
    left: 75%;
    bottom: 85%;
    background-color: #99e699;
}

#helpBox {
    display: none;
    width: 70%;
    position: fixed;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, 0);
}

#helpButton {
    display: none;
    bottom: 67.5%;
    left: 50%;
    background-color: #7feaff;
}

#textBox {
    position: fixed;
    width: 70%;
    bottom: 5%;
    left: 2%;
}

#chatButton {
    position: fixed;
    bottom: 5.5%;
    left: 80%;
    width: 15%;
    height: 7%;
    border-radius: 25%;
    color: black;
    background-color: deepskyblue;
    border: transparent;
    font-size: 20px;
}

#trainArea {
    height: 22%;
    background-color: #cccccc;
    width: 90%;
    position: inherit;
    display: none;
    z-index: 2;
    border: 1px solid transparent;
}

.chatbot {
    widows: 500px;
    min-width: 390px;
    height: 600px;
    background: #fff;
    padding: 55px;
    margin: 60px auto;
    box-shadow: 0 3px #cccccc;
}

.chatform {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chatform textarea {
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid #eeeeee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333333;
}